<h2>Reddit</h2>
<a href='/login'>Login to your account</a>
<a href='/signup'>Don't have an account? Sign up</a>
<a href='/posts/new'>Create a Post</a>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created By:</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
    <tr>
      <td>{{title}}</td>
      <!-- <td>{{user}}</td> -->
      <td>{{text}}</td>
      <td><a href='/posts/{{id}}/edit'>Edit</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href='/logout'>Logout</a>
